@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
  font-family: 'Stack Sans Text', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
main {
  display: flex;
  padding-top: 36px;
  padding-bottom: 64px;
  width: 1024px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

:root {
  --text--heroSectionHeading: 50px;
  --text--heading--l: 32px;
  --text--heading--m: 24px;
  --text--heading--s: 20px;
  --text--default: 16px;
  --text--s: 14px;

  --color--white--immutable: #fcfcfd;

  --border--radius: 6px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color--main: #635aeb;
    --color--main--hover: #5f56e0;
    --color--main--active: #5850d1;
    --color--main--dark: #222040;
    --color--white: #fcfcfd;
    --color--fill: #f8f7ff;
    --color--stroke: #d9d8e5;
    --color--stoke--focus: #e7e7f0;
    --color--gray: #777780;
    --color--black: #12111a;
    --color--red: #eb5a77;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color--main: #675fde;
    --color--main--hover: #6d65eb;
    --color--main--active: #736af7;
    --color--main--dark: #302e4c;
    --color--white: #12111a;
    --color--fill: #181721;
    --color--stroke: #313040;
    --color--stoke--focus: #3c394c;
    --color--gray: #a6a6b2;
    --color--black: #fcfcfd;
    --color--red: #cc4e67;
  }
}

svg {
  pointer-events: none;
}

p,
a,
li,
h1,
h2,
h3,
h4,
button {
  user-select: none;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

input {
  width: 100%;
  display: flex;
  padding: 14px 18px;
  font-size: var(--text--default);
  border-radius: var(--border--radius);
  border: 1px solid var(--color--stroke);
  transition: border-color 0.2s;
  background-color: var(--color--white);
}
input::placeholder {
  font-size: 1rem;
  color: var(--color--gray);
}
input:focus-visible {
  outline: none;
  border-color: var(--color--stoke--focus);
}
